<a href="https://colab.research.google.com/github/RodrigoEslava/cpython/blob/main/teste_concatena%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

data_1st = {'a': [114787, 285613], 'b': [3, 4]}
first_df = pd.DataFrame(data=data_1st)

data_2nd = {'114787': ['pqrst', 'klmno'], '285613': ['fghij', 'abcde'], '3': ['uvwxy', 'z01234'], '4': ['!@#$%', '*&^%$']}
second_df = pd.DataFrame(data=data_2nd)

In [2]:
first_df

        a  b
0  114787  3
1  285613  4

In [4]:
second_df

  114787 285613       3      4
0  pqrst  fghij   uvwxy  !@#$%
1  klmno  abcde  z01234  *&^%$

In [3]:
result = []
for index, row in first_df.iterrows():
    first_column_from_2nd_df = second_df[str(row['a'])]
    second_column_from_2nd_df = second_df[str(row['b'])]
    resulting_tuple = (first_column_from_2nd_df, second_column_from_2nd_df)
    result.append(resulting_tuple)

first_df['concat'] = result
first_df

        a  b                             concat
0  114787  3  ([pqrst, klmno], [uvwxy, z01234])
1  285613  4   ([fghij, abcde], [!@#$%, *&^%$])

In [26]:

data_2nd = pd.read_csv("embeddings_teste.txt", sep=" ", header= None)

second_df = pd.DataFrame(data=data_2nd)
second_df.columns=("Gene", '1','2','3','4','5')
#data_2nd_T = data_2nd.transpose()
#second_df = second_df.set_index(0)
#second_df = second_df.transpose()
#second_df.to_csv("second_df.txt")

data_1st = pd.read_csv("Decagon_ppi_sem_virgulas.txt", sep=" ")
first_df = pd.DataFrame(data=data_1st)
first_df.columns=('a', 'b')
#first_df.to_numpy()
first_df

             a       b
0       114787  285613
1       114787    7448
2       114787    4914
3       114787   51343
4       114787    8089
...        ...     ...
715605    5634    5636
715606    5635    5636
715607    5635    5631
715608    5636    5631
715609    8480    8487

[715610 rows x 2 columns]

In [ ]:
gene = {}

for g,v in second_df.items():
   
    gene[str(g)] = [v]
gene_df = pd.DataFrame(gene)
gene_df

,8481,3301,8487,8484,1295,653269,100505503,1294,5631,1742,...,390980,58189,55267,83890,267004,57348,388595,727866,80206,84909
0,1 0.045649 2 0.815939 3 0.854348 4 ...,1 0.308905 2 1.150378 3 0.748331 4 ...,1 -0.017654 2 0.897601 3 0.410150 4 ...,1 2.704846 2 0.375412 3 0.955514 4 ...,1 -0.117250 2 0.634539 3 2.435030 4 ...,1 1.144122 2 -0.410421 3 1.396560 4 ...,1 0.310064 2 1.279997 3 0.002769 4 ...,1 -0.195026 2 0.765670 3 2.408067 4 ...,1 0.486600 2 0.927690 3 0.996919 4 ...,1 0.526116 2 0.125256 3 1.280428 4 ...,...,1 0.889996 2 -0.083048 3 1.208003 4 ...,1 0.195854 2 0.053635 3 1.032743 4 ...,1 1.087764 2 -0.085990 3 -0.004930 4 ...,1 0.315129 2 0.005607 3 0.267472 4 ...,1 0.368836 2 -0.055610 3 0.571653 4 ...,1 -0.571863 2 1.174986 3 0.547623 4 ...,1 1.158407 2 1.580999 3 0.519541 4 ...,1 -0.974044 2 0.671642 3 2.110115 4 ...,1 0.182996 2 0.634144 3 0.617257 4 ...,1 0.796155 2 0.711201 3 0.458408 4 ...

In [27]:
second_df

         Gene         1         2         3         4         5
0        8481  0.045649  0.815939  0.854348 -0.655166 -0.195375
1        3301  0.308905  1.150378  0.748331 -0.485905 -0.152400
2        8487 -0.017654  0.897601  0.410150 -1.447233 -0.802449
3        8484  2.704846  0.375412  0.955514 -0.367609 -0.068993
4        1295 -0.117250  0.634539  2.435030  0.139083  0.080239
...       ...       ...       ...       ...       ...       ...
19076   57348 -0.571863  1.174986  0.547623 -1.854035 -1.743249
19077  388595  1.158407  1.580999  0.519541 -0.490437  0.131811
19078  727866 -0.974044  0.671642  2.110115 -1.771468 -0.194473
19079   80206  0.182996  0.634144  0.617257 -0.219148 -1.163402
19080   84909  0.796155  0.711201  0.458408 -0.451549 -0.244309

[19081 rows x 6 columns]

In [9]:
second_df.to_csv("second_df")

In [43]:
result = []
r = []
first_column_from_2nd_df = []

for index, row in first_df.iterrows():

            first_column_from_2nd_df = second_df[second_df["Gene"].isin([row['a']])]
            

            second_column_from_2nd_df = second_df[second_df["Gene"].isin([row['b']])]
    
            resulting_tuple = (first_column_from_2nd_df, second_column_from_2nd_df)
            result.append(resulting_tuple)

    
        



first_df['concat'] = pd.Series(result)
first_df

             a       b            concat
0       114787  285613  ([Gene], [Gene])
1       114787    7448  ([Gene], [Gene])
2       114787    4914  ([Gene], [Gene])
3       114787   51343  ([Gene], [Gene])
4       114787    8089  ([Gene], [Gene])
...        ...     ...               ...
715605    5634    5636  ([Gene], [Gene])
715606    5635    5636  ([Gene], [Gene])
715607    5635    5631  ([Gene], [Gene])
715608    5636    5631  ([Gene], [Gene])
715609    8480    8487  ([Gene], [Gene])

[715610 rows x 3 columns]

Warning: total number of rows (715610) exceeds max_rows (20000). Limiting to first (20000) rows.

In [51]:
first_df[range(0,22)] = pd.Series(result)
first_df

,a,b,concat,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21)"
0,114787,285613,"([Gene], [Gene])","([Gene], [Gene])"
1,114787,7448,"([Gene], [Gene])","([Gene], [Gene])"
2,114787,4914,"([Gene], [Gene])","([Gene], [Gene])"
3,114787,51343,"([Gene], [Gene])","([Gene], [Gene])"
4,114787,8089,"([Gene], [Gene])","([Gene], [Gene])"
...,...,...,...,...
715605,5634,5636,"([Gene], [Gene])","([Gene], [Gene])"
715606,5635,5636,"([Gene], [Gene])","([Gene], [Gene])"
715607,5635,5631,"([Gene], [Gene])","([Gene], [Gene])"
715608,5636,5631,"([Gene], [Gene])","([Gene], [Gene])"
715609,8480,8487,"([Gene], [Gene])","([Gene], [Gene])"

Warning: total number of rows (715610) exceeds max_rows (20000). Limiting to first (20000) rows.

In [44]:
first_df.to_csv("teste_positivos")

In [41]:
second_df[second_df["Gene"].isin([5987])]

       Gene        1         2         3         4         5
17312  5987  0.16032  0.098497  0.693343 -0.571009 -0.837606

In [5]:
result = []
class_X = []
for index, row in first_df.iterrows():

            first_column_from_2nd_df = second_df[str(row['a'])]
    
            second_column_from_2nd_df = second_df[str(row['b'])]

            third_column = '1'
            
            class_X.append(third_column)
    
            resulting_tuple = (first_column_from_2nd_df, second_column_from_2nd_df)
            result.append(resulting_tuple)

    
        


first_df['concat'] = pd.Series(result)
first_df['class'] = class_X
first_df

KeyError: ignored