<a href="https://colab.research.google.com/github/RodrigoEslava/cpython/blob/main/teste_concatena%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import numpy as np

# Open Data

In [56]:

data_2nd = pd.read_csv("embeddings_teste.txt", sep=" ", header= None)

second_df = pd.DataFrame(data=data_2nd)
second_df.columns=("Gene", '1','2','3','4','5')
#data_2nd_T = data_2nd.transpose()
#second_df = second_df.set_index(0)
#second_df = second_df.transpose()
#second_df.to_csv("second_df.txt")

data_1st = pd.read_csv("Decagon_ppi_sem_virgulas_com_index.txt", sep=" ")
first_df = pd.DataFrame(data=data_1st)
first_df.columns=('Gene_1', 'Gene_2')
#first_df.to_numpy()
first_df

        Gene_1  Gene_2
0       114787  375519
1       114787  285613
2       114787    7448
3       114787    4914
4       114787   51343
...        ...     ...
715606    5634    5636
715607    5635    5636
715608    5635    5631
715609    5636    5631
715610    8480    8487

[715611 rows x 2 columns]

In [57]:
second_df

         Gene         1         2         3         4         5
0        8481  0.045649  0.815939  0.854348 -0.655166 -0.195375
1        3301  0.308905  1.150378  0.748331 -0.485905 -0.152400
2        8487 -0.017654  0.897601  0.410150 -1.447233 -0.802449
3        8484  2.704846  0.375412  0.955514 -0.367609 -0.068993
4        1295 -0.117250  0.634539  2.435030  0.139083  0.080239
...       ...       ...       ...       ...       ...       ...
19076   57348 -0.571863  1.174986  0.547623 -1.854035 -1.743249
19077  388595  1.158407  1.580999  0.519541 -0.490437  0.131811
19078  727866 -0.974044  0.671642  2.110115 -1.771468 -0.194473
19079   80206  0.182996  0.634144  0.617257 -0.219148 -1.163402
19080   84909  0.796155  0.711201  0.458408 -0.451549 -0.244309

[19081 rows x 6 columns]

In [58]:
second_df.to_csv("second_df")

# Concatanate positive samples

In [59]:

result = []

classe = list()

for index, row in first_df.iterrows():

            first_column_from_2nd_df = second_df[second_df["Gene"].isin([row['Gene_1']])]
            

            second_column_from_2nd_df = second_df[second_df["Gene"].isin([row['Gene_2']])]

            third_column = [1]
            
            resulting_tuple = [first_column_from_2nd_df[["1","2","3","4","5"]].to_string(header = False, index=False), second_column_from_2nd_df[["1","2","3","4","5"]].to_string(header = False, index=False)]

            classe.append(third_column)
           
            result.append(resulting_tuple)


first_df['concat'] = pd.Series(result)
first_df['classe'] = classe
first_df

,Gene_1,Gene_2,concat,classe
0,114787,375519,[0.778164 0.475622 0.715792 -0.251704 -0.15035...,[1]
1,114787,285613,[0.778164 0.475622 0.715792 -0.251704 -0.15035...,[1]
2,114787,7448,[0.778164 0.475622 0.715792 -0.251704 -0.15035...,[1]
3,114787,4914,[0.778164 0.475622 0.715792 -0.251704 -0.15035...,[1]
4,114787,51343,[0.778164 0.475622 0.715792 -0.251704 -0.15035...,[1]
...,...,...,...,...
715606,5634,5636,"[0.881386 1.87614 0.730464 -1.401658 0.516512,...",[1]
715607,5635,5636,[0.362904 1.431055 0.935358 -1.285178 0.415917...,[1]
715608,5635,5631,[0.362904 1.431055 0.935358 -1.285178 0.415917...,[1]
715609,5636,5631,"[0.651266 1.13983 1.068691 -0.838427 0.600965,...",[1]
715610,8480,8487,[-0.147213 0.844526 0.595591 -1.437492 -0.5858...,[1]

In [94]:
#first_df = pd.DataFrame(data = first_df)
first_df.to_csv(r"concatanate_positive_samples", header=None, index=None, sep=" ", mode="a")
first_df

,Gene_1,Gene_2,concat,classe
0,114787,375519,[0.778164 0.475622 0.715792 -0.251704 -0.15035...,[1]
1,114787,285613,[0.778164 0.475622 0.715792 -0.251704 -0.15035...,[1]
2,114787,7448,[0.778164 0.475622 0.715792 -0.251704 -0.15035...,[1]
3,114787,4914,[0.778164 0.475622 0.715792 -0.251704 -0.15035...,[1]
4,114787,51343,[0.778164 0.475622 0.715792 -0.251704 -0.15035...,[1]
...,...,...,...,...
715606,5634,5636,"[0.881386 1.87614 0.730464 -1.401658 0.516512,...",[1]
715607,5635,5636,[0.362904 1.431055 0.935358 -1.285178 0.415917...,[1]
715608,5635,5631,[0.362904 1.431055 0.935358 -1.285178 0.415917...,[1]
715609,5636,5631,"[0.651266 1.13983 1.068691 -0.838427 0.600965,...",[1]
715610,8480,8487,[-0.147213 0.844526 0.595591 -1.437492 -0.5858...,[1]

In [95]:
concatanate_file = pd.read_csv("concatanate_positive_samples", sep = ",", header = None)

c = pd.DataFrame(concatanate_file)
c

,0,1
0,"114787 375519 ""['0.778164 0.475622 0.715792 -0...",'0.67989 0.202166 1.085294 -0.354643 0.080082...
1,"114787 285613 ""['0.778164 0.475622 0.715792 -0...",'0.307974 0.250093 1.434479 0.158018 -0.23212...
2,"114787 7448 ""['0.778164 0.475622 0.715792 -0.2...",'0.51487 0.199525 0.751447 -0.191767 -0.48665...
3,"114787 4914 ""['0.778164 0.475622 0.715792 -0.2...",'0.014077 0.967554 0.793498 -0.690786 -0.2637...
4,"114787 51343 ""['0.778164 0.475622 0.715792 -0....",'0.103214 0.444202 0.831132 -0.484471 -0.4583...
...,...,...
715606,"5634 5636 ""['0.881386 1.87614 0.730464 -1.4016...",'0.651266 1.13983 1.068691 -0.838427 0.600965...
715607,"5635 5636 ""['0.362904 1.431055 0.935358 -1.285...",'0.651266 1.13983 1.068691 -0.838427 0.600965...
715608,"5635 5631 ""['0.362904 1.431055 0.935358 -1.285...","'0.4866 0.92769 0.996919 -0.80701 0.373347']""..."
715609,"5636 5631 ""['0.651266 1.13983 1.068691 -0.8384...","'0.4866 0.92769 0.996919 -0.80701 0.373347']""..."
715610,"8480 8487 ""['-0.147213 0.844526 0.595591 -1.43...",'-0.017654 0.897601 0.41015 -1.447233 -0.8024...

# Creating random entry

# Open data

In [98]:
df_arestas = pd.read_csv(r"Decagon_ppi_sem_virgulas.txt", sep = " ", header = None)
df_arestas = pd.DataFrame(data = df_arestas)
#df_arestas.columns=('Gene_1', 'Gene_2')

split_df_0 = df_arestas[0]
split_df_1 = df_arestas[1]

lista_de_genes_duplicada = pd.concat([split_df_0,split_df_1])
lista_de_genes = lista_de_genes_duplicada.drop_duplicates()

lista_de_genes = pd.DataFrame(data = lista_de_genes)
lista_de_genes

#lista_de_genes.to_csv(r"lista_de_genes")

             0
0       114787
18      114786
21      114785
47      114784
52      114783
...        ...
705095   65121
706959  728911
707331  728072
710291   10990
714852  440955

[19081 rows x 1 columns]

In [102]:
lista_de_genes.to_csv(r"lista_de_genes", header=None, index=None, sep=" ", mode="a")

# Creating Random Graph

In [ ]:
np.random.seed(0)

lista_de_genes = ["a","b","c","d","e"]
lista_de_exclusÃ£o = [["a","b"],["a","c"]]
lista_randomica = []

for i in range(715611):

  
  
  first_column = lista_de_genes.sample()
 
          
  second_column = lista_de_genes.sample()

  if first_column != second_column:
    resulting_list = [first_column.to_string(header = False, index = False), second_column.to_string(header = False , index = False)]
  else:



  lista_randomica.append(resulting_list)

lista_randomica = pd.DataFrame(data = lista_randomica )
lista_randomica

In [112]:
np.random.seed(1)

#lista_de_genes = pd.DataFrame(data = lista_de_genes)
lista_randomica = []

for i in range(718000):

  
  
  first_column = lista_de_genes.sample()
 
          
  second_column = lista_de_genes.sample()
            
  resulting_list = [first_column.to_string(header = False, index = False), second_column.to_string(header = False , index = False)]
  
  lista_randomica.append(resulting_list)

lista_randomica = pd.DataFrame(data = lista_randomica )
lista_randomica

             0       1
0        50604    6097
1       132954    1739
2         5143    1788
3        91750    5066
4         6634   56652
...        ...     ...
717995   51065    4908
717996   55063  390199
717997  259266    4815
717998  168002   51715
717999    3290  133418

[718000 rows x 2 columns]

In [ ]:
lista_randomica.to_csv("lista_randomica.txt", header=None, index=None, sep=" ", mode="a")
lista_randomica

In [113]:
lista_randomica.drop_duplicates()

             0       1
0        50604    6097
1       132954    1739
2         5143    1788
3        91750    5066
4         6634   56652
...        ...     ...
717995   51065    4908
717996   55063  390199
717997  259266    4815
717998  168002   51715
717999    3290  133418

[717318 rows x 2 columns]

In [237]:
row= []
reverse_row = []
details = {
    0: ['A','B','C','D'],
    1: ['B','C','B','A']
}

lista_randomic = pd.DataFrame(data = details)

reverse_list = lista_randomic.iloc[:,::-1].reset_index(drop=True).head()

reverse_list = pd.DataFrame(data = reverse_list)

lista_randomic

   0  1
0  A  B
1  B  C
2  C  B
3  D  A

In [238]:
reverse_list

   1  0
0  B  A
1  C  B
2  B  C
3  A  D

In [230]:
row= []
reverse_row = []
details = {
    0: ['A','B','C','D'],
    1: ['B','C','B','A']
}

lista_randomic = pd.DataFrame(data = details)

reverse_list = lista_randomic.iloc[:,::-1].reset_index(drop=True).head()

reverse_list = pd.DataFrame(data = reverse_list)

for index, row in lista_randomic.iterrows():
    
    r = row
    r = pd.DataFrame(data = r)

    
    
    if r.equals():
      lista_randomic = lista_randomic.drop(index)

In [231]:
reverse_row.iloc[::-1].reset_index(drop=True).head()

   3
0  A
1  D

In [232]:
lista_randomic

   0  1
0  A  B
1  B  C
2  C  B
3  D  A

In [233]:
r

   3
0  D
1  A

In [234]:
r_r

         3
Column2  A
Column1  D

# Validate random list

> Open Data

In [105]:
dt_1st = pd.read_csv("Decagon_ppi_sem_virgulas.txt", sep=" ", header = None)
list_are = pd.DataFrame(data=dt_1st)
list_are

             0       1
0       114787  375519
1       114787  285613
2       114787    7448
3       114787    4914
4       114787   51343
...        ...     ...
715606    5634    5636
715607    5635    5636
715608    5635    5631
715609    5636    5631
715610    8480    8487

[715611 rows x 2 columns]

# Invertendo a lista de arestas original

In [114]:
dt_rev3 = dt_1st[dt_1st.columns[::-1]]
dt_rev3

        Gene_2  Gene_1
0       375519  114787
1       285613  114787
2         7448  114787
3         4914  114787
4        51343  114787
...        ...     ...
715606    5636    5634
715607    5636    5635
715608    5631    5635
715609    5631    5636
715610    8487    8480

[715611 rows x 2 columns]

# Concatanate Random Graph